.caja-contenedor-mensaje{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja-mensaje-exito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background-color:green;
    border-radius: 7px;
    gap: 50px;
}
.caja-mensaje-exito > .logo{
    width: 2rem;
}

.caja-mensaje-fallo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    background-color:rgb(188, 14, 14);
    border-radius: 7px;
    gap: 50px;

}
.caja-mensaje-fallo > .logo{
    width: 2rem;
}
